body
{
    font-family: 'Raleway', sans-serif;
    padding: 2em 5em 2em 5em;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

li
{
    list-style-type: none;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav ul li a
{
    margin-left: 35px;
}
nav a
{
    font-size: 1.2em;
    color: #000000;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a span
{
    color: #0065FC;
    font-weight: bold;
}

nav a:hover
{
    color: #0065FC;
    text-decoration: overline;
}


a
{
    text-decoration: none;
    color: black;
}


h2
{
    padding-left: 25px;
    padding-top: 25px;
}


/* section_1 */



.nav_aside ul
{
    display: flex;
    justify-content: space-between;
    
}

.nav_aside ul li
{
    border:2px solid rgb(241, 236, 236);
    border-radius:30px ;
    margin-right: 25px;
    padding: 0px 10px 0px 0px;
}

.nav_aside ul li a
{
    font-size: 0.9em;
    color: black;
    font-weight:900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_aside ul li a:hover
{
    color: #0065FC;
}

.nav_aside i
{
    border-radius: 30px;
    background-color: #DEEBFF;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    margin-top: -3px;
    margin-left: -3px;
    color: #0065FC;
    font-size: 15px;
}

.nav_block
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}



.bouton_rechercher
{
    background: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1em;
    color: white;
    font-weight: bold;
    padding: 15px;
}


.search_form i
{
    background: rgb(243, 241, 241);
    border: 15px solid rgb(240, 239, 239);
    width: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: black;
    padding-right: 15px;
}

.search_form
{
    padding-bottom: 20px;
    border: 1px solid rgb(233, 230, 230);
    border-radius: 15px;
    width: 351px;
    height: 26px;
}

input
{
    border: white;
    font-weight: bold;
    height: 40px;
}


.info
{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.info i
{
    color:#0065FC;
    border-radius: 50%;
    border: 1px solid rgb(202, 200, 200);
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
}

.info p
{
    margin-left: 10px;

}

/* Hebergement Marseille cont 1 */

.heb_mar
{
    display: flex;
}

.heb_mar_cont
{
    background: #F2F2F2;
    border-radius: 15px;
    width: 60%;
}

.heb_mar_cont h2
{
    margin-left: 45px;
}

.affiche
{
    margin-left: 70px;
    font-weight: bold;
}

.block__row
{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 35px;
    margin-right: 40px;
    margin-left: 35px;
}

.block__item
{
   
   margin-right:15px;
   border-radius: 15px;
   border: 5px solid rgb(255, 255, 255);
   margin-bottom: 45px;
   background: white;
   box-shadow: 0px 5px 5px 0px rgb(209, 208, 208);
}

.block__item:hover
{
    box-shadow: 0px 2px 3px 5px #d3e2ec;
}

.block__item p
{
    color: rgb(0, 0, 0);
    font-size: 1em;
}

.block__item i
{
    color: #0065FC;
    font-size: 0.7em;
}



.block__item img
{
    border-radius: 15px 15px 0px 0px;
}

.block__item__txt
{
    margin-left: 15px;
    margin-bottom: 15px;
}

.block__item span i
{
    color: rgb(228, 224, 224);
}

/* Hebergement Marseille cont 2 */

.heb_mar_pop
{
    background:#F2F2F2;
    border-radius: 15px;
    margin-left: 25px;
    width: 35%;
}

.heb_mar_block_2
{
    display: flex;
    flex-direction: column;
    
}

.heb_mar_wrap
{
    margin-top: 10px;
    border-radius: 15px;
    border: 5px solid rgb(255, 255, 255);
    margin-bottom: 35px;
    margin-right: 35px;
    margin-left: 35px;  
    background: white;
    box-shadow: 0px 5px 5px 0px rgb(209, 208, 208);
    display: flex;
}

.heb_mar_wrap:hover
{
    box-shadow: 0px 2px 3px 5px #d3e2ec;
}

.heb_mar_wrap span i
{
    color: rgb(228, 224, 224);
}

.heb_mar_wrap img
{
    border-radius: 15px 0px 0px 15px;
}

.block_2_txt
{
    margin-left: 15px;
}

.block_2_txt i
{
    margin-top: 35px;
}

.pop_info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
    margin-left: 10px;
}

.pop_info i
{
    margin-top: 25px;
    margin-right: 15px;
    font-size: 25px;
}

.heb_mar_wrap i
{
    color: #0065FC;
    font-size: 0.7em;
    
}


/* Activites a Marseille */


.activ_mars
{
    display: flex;
}

.activ_mars_cont
{
    display: flex;
}

.activ_mars_inside
{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.activ_in
{
    border-radius: 15px;
    margin-bottom: 15px;
    margin-right: 25px;
    margin-left: 25px;  
    background: white;
    box-shadow: 0px 3px 3px 0px rgb(209, 208, 208);
    justify-content: space-around;
}

.activ_mars_inside p
{
    font-weight: bold;
    margin-left: 15px;
}

.activ_in img
{
    border-radius: 15px 15px 0px 0px;
}

.activ_in_txt
{
    align-content: center;
    padding-bottom: 1px;
}

.activ_block
{
   display: flex;
   flex-direction: column;
}

.iles
{
    margin-top: 50px;
}

.parc
{
    margin-top: 40px;
}
/* footer */



.foot
{
    background: #F2F2F2;
    padding: 15px;
    margin-top: 25px;
}

.foot_wrap
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.foot_block_1
{
    margin-bottom: 35px;
}

.foot_block_2
{
    margin-bottom: 35px;
}