body
{
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px)
{
    body
    {
        padding: 3em 3em 3em 3em;
    }
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

li
{
    list-style-type: none;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav ul li a
{
    margin-left: 25px;
    margin-right: 35px;
}
nav a
{
    font-size: 1.2em;
    color: #000000;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a span
{
    color: #0065FC;
    font-weight: bold;
}

nav a:hover
{
    color: #0065FC;
    text-decoration: overline;
}


a
{
    text-decoration: none;
    color: black;
}


h2
{
    padding-left: 25px;
    padding-top: 25px;
}

/* Media Header */

@media screen and (max-width: 768px)
{
    
    header
    {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    #logo
    {

    }

    nav ul
    {
        align-self: center;
    }

    nav li
    {
        padding-left: 4px;
    }

    nav a
    {
        font-size: 1.1em;
    }


    nav a:hover
    {
        color: #0065FC;
        text-decoration: underline 3px solid;
    }

    nav ul li
    {
        justify-content: space-between;
        display: flex;
        align-items: center;

    }
    
}


/* section_1 */



.nav_aside ul
{
    display: flex;
    justify-content: space-between;
    
}

.nav_aside ul li
{
    border:2px solid rgb(241, 236, 236);
    border-radius:30px ;
    margin-right: 25px;
    padding: 0px 10px 0px 0px;
}

.nav_aside ul li a
{
    font-size: 0.9em;
    color: black;
    font-weight:900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_aside ul li a:hover
{
    color: #0065FC;
}

.nav_aside i
{
    border-radius: 30px;
    background-color: #DEEBFF;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    margin-top: -3px;
    margin-left: -3px;
    color: #0065FC;
    font-size: 15px;
}

.nav_block
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.bouton_rechercher
{
    background: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1em;
    color: white;
    font-weight: bold;
    padding: 15px;
}

.loupe
{
    display: none;
}

.search_form i
{
    background: rgb(243, 241, 241);
    border: 15px solid rgb(240, 239, 239);
    width: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: black;
    padding-right: 15px;
}

.search_form
{
    padding-bottom: 20px;
    border: 1px solid rgb(233, 230, 230);
    border-radius: 15px;
    width: 351px;
    height: 26px;
}

input
{
    border: white;
    font-weight: bold;
    height: 40px;
}


.info
{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.info i
{
    color:#0065FC;
    border-radius: 50%;
    border: 1px solid rgb(202, 200, 200);
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
}

.info p
{
    margin-left: 10px;
}

@media screen and (max-width: 768px)
{
    .nav_block
    {
        display: flex;
        flex-wrap: wrap;
    }

    .nav_aside ul
    {
        display: flex;
        flex-wrap: wrap;
    }

    .nav_aside ul li
    {
        margin-top: 15px;
    }

    .bouton_rechercher
    {
        display: none;
    }

    .loupe
    {
        display: flex;
        
    }

    .loupe i
    {
        color: white;
        border-radius: 15px;
        height: 70%;
        background:#0065FC ;
        border: 15px solid #0065FC;
    }

    .search_form
    {
        display: flex;
        justify-content: space-between;
    }

    .search_form i
    {
        height: 70%;
    }

}


/* Hebergement Marseille cont 1 */

.heb_mar
{
    display: flex;
    justify-content: space-between;
    margin: 30px 3.8% 0 3.8%;
}


.heb_backr
{
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 61%;
    padding: 40px;
}

.heb_backr h2
{
    font-size: 1.3em;
    width: fit-content;
    margin: 0 0 25px 0;
}

.affiche
{
    letter-spacing: 0.1px;
    font-size: 1.2em;
    font-weight: 800;
    cursor: pointer;
    width: fit-content;
    width: -moz-fit-content;
    margin-top: 50px;
}

.block__row
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 415px;
}

.blockRowWrap
{
    display: flex;
    justify-content: space-between;
}

.blockRowWrap2
{
    display: flex;
    justify-content: space-between;
}

.block__item
{
    border: 1px solid white;
    border-radius: 15px;
    height: 190px;
    width: 30%;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform .2s;
}

.blockItemIcons
{
    display: flex;
}

.block__item img
{
    height: 115px;
    width: 98%;
    margin-left: 2px;
    margin-top: 2px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.block__item:hover
{
    box-shadow: 0px 2px 3px 5px #d3e2ec;
}

.block__item p
{
    color: rgb(0, 0, 0);
    font-size: 1em;
}

.block__item i
{
    color: #0065FC;
    font-size: 0.7em;
}


.block__item__txt
{   
    display: flex;
   
}

.block__item span i
{
    color: rgb(228, 224, 224);
}

/* Hebergement cont 1 Media */

@media screen and (max-width: 768px)
{
    .heb_mar
    {
        display: flex;
        justify-content:center;
        background-color: white;
    }

   

    .heb_backr
    {
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    
}

/* Hebergement Marseille cont 2 */

.heb_mar_pop
{
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 30.1%;
}

.heb_mar_block_2
{
    display: flex;
    flex-direction: column;
    
}

.heb_mar_wrap
{
    border: 1px solid white;
    background-color: white;
    height: 140px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    padding: 4px;
    display: flex;
    transition: transform .2s;
}

.heb_mar_wrap img
{
    
    height: 140px;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

.heb_mar_wrap:hover
{
    box-shadow: 0px 2px 3px 5px #d3e2ec;
}

.heb_mar_wrap span i
{
    color: rgb(228, 224, 224);
}

.heb_mar_wrap img
{
    border-radius: 15px 0px 0px 15px;
}

.heb_mar_block_2
{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 30px 5px 30px;
}

.block_wrap
{
    all: unset;
    font: inherit;
    font-size: inherit;
    padding-left: 20px;
    height: auto;
}

.block_2_txt
{
    margin-left: 15px;
}

.block_2_img
{
    width: 39%;
    min-width: 39%;
    height: 140px;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

.pop_info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7em;
}

.pop_info i
{
    margin-top: 25px;
    margin-right: 15px;
    font-size: 25px;
}

.pop_i
{
    display: flex;
    color: #0065FC;
    font-size: 0.7em;
    margin-top: 45px;
    margin-left: 15px;
    margin-top: 35px;
}


@media screen and (max-width: 768px)
{
    .heb_mar_wrap
    {
        width: 340px;
    }

    .heb_mar_pop
    {
        width:440px;
        border-radius: 0;
        justify-content: center;
    }
    
}

/* Activites a Marseille */

.activ_mars
{
    width: 100%;
    margin-right: 65px;
}

.activ_mars_cont
{
    display: flex;
}

.activ_mars_inside
{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.activ_in
{
    border-radius: 15px;
    margin-bottom: 15px;
    margin-right: 25px;
    margin-left: 25px;  
    background: white;
    box-shadow: 0px 3px 3px 0px rgb(209, 208, 208);
    justify-content: space-around;
}

.activ_in:hover
{
    box-shadow: 0px 2px 3px 5px #d3e2ec;
}

.activ_mars_inside p
{
    font-weight: bold;
    margin-left: 15px;
}

.activ_in img
{
    border-radius: 15px 15px 0px 0px;
}

.activ_in_txt
{
    align-content: center;
    padding-bottom: 1px;
}

.activ_block
{
   display: flex;
   flex-direction: column;
}

.iles
{
    margin-top: 50px;
}

.parc
{
    margin-top: 40px;
}

@media screen and (max-width: 768px)
{
    .activ_mars
    {
        display: flex;
        flex-direction: column;
    }

    .activ_in
    {
        display: flex;
        flex-direction: column;
    }

    .activ_mars_cont
    {
        display: flex;
    }

    .activ_mars_inside
    {
        display: flex;
        flex-direction: column;
    }

    .activ_in img
    {
        width: 300px;
        height: 120px;
        object-fit: cover;
    }
}


/* footer */

.foot
{
    background: #F2F2F2;
    padding: 15px;
    margin-top: 35px;
}

.foot_wrap
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.foot_block_1
{
    margin-bottom: 35px;
}

.foot_block_2
{
    margin-bottom: 35px;
}

@media screen and (max-width: 768px)
{
    .foot_block
    {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-top: 15px;
    }

    .foot_wrap
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}